<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//chejinsong.com/" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="html,css,JavaScript,vue,vue-router,vuex,node,Koa2,ko2,koa-router,thinkjs,快应用,前端,博客">
    <meta name="description" content="">
    <meta name="robots" content="noarchive">
    <meta name="Baiduspider" content="noarchive">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>
        <% if (title) { %><%=title %> - <% }%><%=site.title %>
    </title>
    <link href="/static/home/css/style.css" rel="stylesheet">
</head>
