<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="<%=site.url %>/" class="navbar-logo">
            <%=site.title %>
        </a>
        <div class="navbar-menu">
            <a href="<%=site.url %>/page/archives.html">文章列表</a>
            <a href="<%=site.url %>/page/about.html">关于我</a>
            <a href="<%=site.url %>/page/todo.html">待办事项</a>
            <!-- <a href="<%=site.url %>/page/links.html">友情链接</a> -->
        </div>
    
        <div class="navbar-mobile-menu" onclick=""><span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="<%=site.url %>/page/archives.html">文章列表</a></li>
                <li><a href="<%=site.url %>/page/about.html">关于我</a></li>
                <li><a href="<%=site.url %>/page/todo.html">待办事项</a></li>
                <!-- <li><a href="<%=site.url %>/page/links.html">友情链接</a></li> -->
            </ul>
        </div>
    </div>
</header>